#projects {
    color: rgba(20, 20, 20, 0.85);
    margin-bottom: 3rem;
    margin-top: 4rem;
}

h1 {
    font-weight: bold !important;
}

.github-link {
    color: black;
    font-weight: bold;
}

.github-link:hover {
    color: gray;
}

.row-projects, .card-single {
    margin-top: 2rem;
}

.card-single:first-child {
    margin-top: 4rem;
}

.card-grid {
    height: 36.5rem;
}

.card-grid .card-img {
    height: 13rem;
    cursor: pointer;
}

.card-grid .card-title {
    margin-top: 1rem;
}

.card-grid .card-tex {
    margin-bottom: 1rem;
}

.card-single {
    width: 90%;
    height: 90%;
    margin: auto auto;
}

.card-link+.card-link {
    margin-left: 0;
}

.card-link {
    font-size: 15px;
    margin-left: 1rem !important;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.img-card {
    height: 30em;
}

.card-body {
    top: 50%;
}

/* Single card view */
.card-single {
    height: 20rem;
    width: 100%;
}

.card-single.card-img {
    width: 50% !important;
}

.card-single .card-img {
    cursor: pointer;
}

.card-single .card-img, .card-single .col-md-6 {
    height: 19.8rem; 
}

.card-single.card-body {
    width: 50% !important;
    height: 100%;
    margin: auto;
}

.card-single .card-body .btn-github {
    position: absolute;
    bottom: 0;
    right: 3rem;
    width: 10rem;
}

.card-single .card-body .btn-project {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    width: 10rem;
}

.btns-view {
    position: absolute;
    display: flex;
    list-style: none;
    right: 2%;
    float: right;
}

.btns-view button {
    background: #fff;
    color: #343a40;
    border-color: #fff;
}

.btns-view .active button {
    background: #343a40;
    color: #fff;
}

.btn-grid {
    margin-right: 0.5rem;
}

.notice {
    text-decoration: underline;
}

.loader {
    height: 100%;
    width: 100%;
    left: 46%;
    top: 50%;
    position: fixed;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    margin: auto auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Filter section */
.filter-btn a {
    float: left;
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-size: 1.25rem;
    text-decoration: underline;
    cursor: pointer;
}

.tags {
    display: inline-block;
    margin-top: 2rem;
    margin-left: -2rem;
    width: 100%;
}

.tags > .row > .col-sm-2 > input {
    margin-left: 0.75rem;
    transform: scale(1.15);
    cursor: pointer;
}

.tags > .row > .col-sm-2 > label {
    font-size: 1.1rem;
    margin-left: 0.3rem;
    margin-bottom: 0 !important;
}

@media screen and (min-width: 1100px) {
    .card-single {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .tags > .row > .col-sm-2 > input {
        margin-left: 0.5rem;
        transform: scale(1);
        cursor: pointer;
    }
    
    .tags > .row > .col-sm-2 > label {
        font-size: 1rem;
        margin-left: 0.3rem;
    }
}

@media (max-width: 990px) {
    .card.card-grid {
        margin-bottom: 2rem;
    }
}

@media (max-width: 800px) {
    .tags > .row > .col-sm-2 > input {
        width: 20%;
    }
    
    .tags > .row > .col-sm-2 > label {
        width: 20%;
    }
}

@media (max-width: 1050px) {
    #grid-view {
        margin-bottom: 2rem;
    }

    #grid-view:last-child {
        margin-bottom: 0rem;
    }

    /* .card.card-grid {
        height: 100% !important;
    } */

    .btns-view {
        display: none;
    }
}

@media (max-width: 500px) {
    .tags > .row > .col-sm-2 > input {
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }