.top-bar > button {
    color: black;
    margin-top: 1rem;
    text-align: center;
}

#resume {
    max-width: 952px !important;
    margin-bottom: 5rem;
}

#pdf-render {
    padding: 1rem 1rem;
    margin: 1rem auto;
    overflow: scroll;
}