.selected-danger {
    border-radius: 5px;
    background-color: rgb(201, 37, 45);
    color: rgba(234, 234, 234, 0.8);
    padding: 15px;
    margin-right: auto;
}

h1, h2 {
    font-weight: 200;
}

h1 {
    font-size: 3.5rem;
}