@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

:root {
    --var-nav-height: 4rem;
}

html, body {
    height: 100%;
    max-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: rgba(15, 15, 15, 0.8);
}

.showcase {
    height: calc(100vh - var(--var-nav-height)) !important;
    background: #333 url('../images/showcase-leuven.jpg') no-repeat center center / cover;
    color: #ccc;
    position: relative;
    overflow: hidden !important;
}

.showcase:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.15);
    overflow: hidden !important;
}

.container {
    max-width: 1200px;
    background-color: rgba(240, 240, 240, 0.8);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.17);
    text-align: center;
    margin-bottom: 5rem;
}

.title {
    margin-top: 1rem !important;
}

.container-index > h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color: #eee;
    width: 50%;
    margin: 0.4rem;
    margin-left: 1rem;
}

.navbar {
    background: #343a40;
    color: #fff;
    font-size: 20px;
    height: var(--var-nav-height);
}

.navbar .navbar-container {
    margin-left: auto;
}

.navbar .nav-link {
    color: rgba(255,255,255,.6);
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar .navbar-container ul li a:hover, .navbar .navbar-container ul li a:focus {
    padding-bottom: 0;
    border-bottom: 2px solid #262626;
    color: #fff;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}

.container-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
    
}

.selected {
    border-radius: 5px;
    background-color: rgba(131, 120, 144, 0.8);
    color: rgba(234, 234, 234, 0.8);
    padding: 15px;
    margin-right: auto;
}

h1, h2 {
    font-weight: 200;
}

h1 {
    font-size: 3.5rem;
}

h1.index, h2.index {
    text-shadow: 2px 2px black;
}

.social-links {
    position: fixed;
    bottom: 1.5rem;
    left: 4rem;
    background-color:rgba(25, 25, 25, 0.9);
    border-radius: 5px;
    margin-right: auto;
    z-index: 2;
}

.links {
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

.links:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(65, 65, 65, 0.6);
    filter: blur(3px);
}

.links:hover, .links:focus {
    color: rgba(55, 55, 55, 0.7);
    box-shadow: 0 0 15px rgba(65, 65, 65, 0.6);
    text-shadow: 0 0 15px rgba(65, 65, 65, 0.6);
}

.projects-btn {
    text-align: center !important;
    z-index: 2;
}

.btn-projects {
    background-color: rgba(25, 25, 25, 0.9);
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    position: fixed;
    bottom: 5rem;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.btn-projects.btn-projects-background-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: .25rem;
    
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.btn-projects.btn-projects-background-slide:hover::before, .btn-projects.btn-projects-background-slide:focus::before {
    transform: scaleX(1);
}

.btn-projects.btn-projects-background-slide {
    transition: color 300ms ease-in-out;
    z-index: 1;
}

.btn-projects.btn-projects-background-slide:hover, .btn-projects.btn-projects-background-slide:focus {
    color: rgba(25, 25, 25, 0.9);
}

/* scroll top button */
#scroll-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color:  rgba(25, 25, 25, 0.9);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}
  
#scroll-top-btn:hover, #scroll-top-btn:focus {
    background-color: #555;
}

/* Cursor */
.txt-type > .txt {
    border-right: 0.2rem solid #777;
}

/* No javascript enabled */
noscript {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: none;

}

noscript > div {
    color:#333;
}

/* Media */
@media(min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.25rem;
    }
}

@media (max-width: 915px) {
    #pdf-render {
        width: 100%;
    }
}

@media(max-height: 880px) {
    .container-index > h2 {
        font-size: 1rem;
    }
}

@media(max-width: 800px) {
    .container{
        padding: 0 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.75rem;
    }
}

@media (max-width: 775px)  {
    .menu-btn {
        display: block;
        color: #000;
    }

    .menu-btn:hover, .menu-btn:focus {
        opacity: 0.5;
    }

    .navbar {
        padding: 0;
        position: inherit;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-container {
        width: 100%;
    }

    .navbar ul.navbar-nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background: #f2f2f2;
        width: 70%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

    .navbar ul.navbar-nav li {
        padding: 10px;
        border-bottom: #ccc solid 1px;
        font-size: 15px;
    }

    .nav-link {
        color: #333 !important;
        padding-bottom: 0;
    }

    .navbar ul.navbar-nav li:last-child {
        border-bottom: 0;
    }

    .navbar ul.navbar-nav.show {
        transform: translateX(0px);
    }

    .navbar .container-inline ul li a:hover, .navbar .container-inline ul li a:focus {
        border-bottom: none;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .project-btn-info {
        bottom: 7rem;
    }
}